%h3
  Listing Surveys
%table
  %tr
    %th Survey Name
    %th Survey Type
  - @surveys.each do |survey|
    %tr
      %td= survey.name
      %td= survey.survey_type

= link_to "New Survey", new_survey_path
